<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact </title>
	<!-- <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-t.css')}}">
    	
</head>
<body>
	<div class="container">
		<div class="row" style="">
			<h2 class="name"><b>CÔNG TY TNHH NHỰA GIA NGUYỄN</b></h2>
			<div class="col row address-form" style="flex-direction:column">
				<div class="col">
					<h5 class="name" style="text-align: left">Địa chỉ:</h5>
				</div>
				<div class="col">
					<ul class="ul-info">
						<li><b>Địa chỉ Trụ Sở Chính:</b> 25 Đường số 13 khu dân cư ấp 5 Phong Phú, Huyện Bình Chánh.</li>
						<li><b>Địa chỉ Chi Nhánh:</b> E3/83C1 ấp 5 Đường Đa Phước, Xã Đa Phước, Huyện Bình Chánh.</li>
						<li><b>Website:</b> <a class="non-text-dec" href="#">gianguyenplastic.com</a></li>
						<li><b>Email:</b> <a class="non-text-dec" href="">gianguyenplastic@gmail.com</a></li>
						<li><b>Hotline:</b> <a class="non-text-dec" href="">0908 757 528</a> (Mr. Trực)</li>
					</ul>
				</div>
			</div>
			<div class="col row contact-form" style="flex-direction:column">
				<div class="col">
					<h5 class="name" style="text-align: left">THÔNG TIN LIÊN HỆ</h5>
				</div>
				<div class="col size-form">
					<div class="form-info" style="">
						<form action="" method="post">
							<p class="form-info-p">Họ tên:</p>
							<input type="text" name="txtName" class="form-input">
							<div class="row">
								<div class="col">
									<p class="form-info-p">Điện thoại</p>
									<input type="number" name="txtPhone" class="form-input">
								</div>
								<div class="col">
									<p class="form-info-p">Email: </p>
									<input type="text" name="txtEmail" class="form-input">
								</div>
							</div>
							<p class="form-info-p">Nội dung liên hệ:</p>
							<input type="text" name="txtMessenger" class="form-input" style="margin-bottom: 10px; height:80px">
							<input type="submit" class="button" value="Gửi">
						</form>
					</div>
				</div>
			</div>
			
		</div>
		<div class="line-bottom"></div>
		<div class="row" style="padding-top: 10px">
			<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.081542301399!2d106.645800514422!3d10.728194063016588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e6b6a325b81%3A0x21e253199473e889!2zMjUgxJDGsOG7nW5nIHPhu5EgMTMsIEtodSBkw6JuIGPGsCDhuqRwIDUgUGhvbmcgUGjDuiwgQsOsbmggQ2jDoW5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1654932958304!5m2!1svi!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</body>
</html>