<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Introduce </title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-t.css')}}">

</head>
<body>
	<div class="container">
		<div class="row" style="">
			<div class=""><h2 class="name p-2">Công Ty TNHH Nhựa Gia Nguyễn</h2></div>
			<div class="sizetext">
				<p style=""><b class="mgb">Công Ty TNHH Nhựa Gia Nguyễn</b> có nhiều năm kinh nghiệm sản xuất và cung cấp các loại chai Pet đặc biệt trong ngành dầu ăn, nắp nút theo từng loại chai, quai nhựa, các sản phẩm từ nhựa PET, nhựa PE, nhựa PP,... . Các sản phẩm, nguyên liệu hoàn toàn ngoại nhập được sản xuất và nhập khẩu từ các nước như AUSTRALIA, SINGAPORE, THÁI LAN, ĐÀI LOAN, TRUNG QUỐC… </p>
				<ol>
			    	<li><b class="mgb">Tiêu chí kinh doanh:</b></li>
			    		<p class="form-info-p">Với mục tiêu đặt sự hài lòng của khách hàng lên hàng đầu.<b> Công Ty TNHH Nhựa Gia Nguyễn</b> sử dụng nguyên liệu nhập khẩu trong quá trình sản xuất và tuân theo các quy trình kiểm tra nghiêm khắc nhằm đảm bảo chất lượng an toàn vệ sinh thực phẩm hướng tới bảo vệ sức khoẻ cho người tiêu dùng. </p>
			    	<li><b class="mgb">Đội ngũ nhân viên và trang thiết bị:</b></li>
			    		<p class="form-info-p">Đội ngũ cán bộ và nhân viên được đào tạo chuyên nghiệp, lao động lành nghề, nhiều kinh nghiệm.</p>
			    		<p class="form-info-p">Công ty đã đầu tư trang thiết bị hiện đại bao gồm nhiều máy sấy, máy ép và máy thổi thuộc thế hệ mới điều khiển bằng kỹ thuật số được nhập khẩu từ: Đức, Nhật, Đài Loan, Singapore,…</p>
			    	<li><b class="mgb">Sức mạnh và thành tựu:</b></li>
			    		<p class="form-info-p">Công ty có khả năng đáp ứng về chất lượng hoàn hảo, sản xuất nhiều kiểu dáng và mẫu mã khác nhau theo đơn đặt hàng của khách hàng và giao hàng tận nơi theo yêu cầu.</p>
			    		<p class="form-info-p">Với nhiều năm hoạt động trong ngành, đến nay Công ty đã từng bước thu hút, chiếm lĩnh thị trường bằng uy tín, chất lượng sản phẩm và giá thành cạnh tranh.</p>
			    	<li><b class="mgb">Chứng từ chứng nhận:</b></li>
			    		<p class="form-info-p">Các sản phẩm của Công ty luôn có giấy chứng nhận an toàn vệ sinh thực phẩm. Mang lại niềm tin vui và an toàn cho người sử dụng.</p>
			    </ol>
			</div>
		</div>
	</div>
</body>
</html>