.text-more {
	position: relative;
    padding-bottom: 40px;
}
.text-more p {
	font-size: 24px;
	font-weight: 400;
	text-align: left;
	position: absolute;
	margin-top: 40px;

}

.symbol-customer a {
	text-decoration: none;
}
.symbol-customer a img {
	width: 179px;
	height: 113px;
	padding-left: 30px;
}

.form-inf {
	position: relative;
	padding-top: 0px;
    padding-bottom: 40px;
}
.introduce {
	font-size: 18px;
	position: relative;
}
.introduce #text{
	font-size: 24px;
	font-weight: 500;
	text-align: left;
}


.form-left {
	position: relative;
}
.form-left .status {
	bottom: 0px;
	position: relative;
}
.status {
	display: flex !important;
	position: absolute !important;
	bottom: 5px;

}
.status a {
	justify-content: space-between;
	text-decoration: none;
	font-size: 20px;
	color: black;
}
.status a img {
	width: 53px;
	height: 45px;
	padding-left: 10px;
}
.form-right {
	padding-left: 50px;
	position: relative;
}
.input-inf {
	padding-bottom: 10px;
}
.form-inf input {
    padding-bottom: 10px;
	margin-top: 10px;
}

.form-group {
    padding-bottom: 5px ;
}
.btn-click {
	margin-top: 25px;
	width: 100px;
	font-weight: bold;
	color: #fff !important;
	background-color: #3498db !important;
}
