<footer>
    <section>
		<div class="footer-bottom" style="background-color:  red;" >
			<div class="company">		
				<div class="row">
					<div class="col">
						<div class="name-company">						
							<img src="{{url_for('static', filename='images/logo.png')}}" alt="" width="120px" height="80px">						
							<div class="inf-company">
								<p>TRANG WEB CHÍNH THỨC</p>
								<p>cÔNG TY THHH NHỰA GIANG NGUYỄN</p>
								<p>Hotline: 0908.757.528 (MR. Trực)</p>
								<p>Email: gianguyenplastic@gmail.com</p>
								<p>Địa chỉ Trụ Sở Chính: 25 đường số 13 khu dân cư ấp 5 phong phú, Huyện Bình Chánh</p>
								<p>Địa chỉ Phân Xưởng: e3/83c1 ấp 5 đường đa phước xã Đa Phước, Huyện Bình Chánh</p> 
							</div>
							
							
							<div class="contact-method">
								<a href="#"><i class="fa-brands fa-facebook-square"></i></a>
								<a href="#"><i class="fa-brands fa-youtube"></i></a>
								<a href="#"><i class="fa-brands fa-instagram"></i></a>
								<a href="#"><i class="fa-thin fa-clock-eight"></i></a>
							</div>
						</div>

																		
					</div>
					<div class="col">
						<div class="support">
							<div class="inf-support">
								<p><strong>HỖ TRỢ KHÁCH HÀNG</strong></p>
								<p><strong>CSKS:0869071068</strong></p>
								<p><strong>Mua hàng: 0869071068 (8h-21h)*</strong></p>
								<p><strong>(Tất cả các ngày trong tuần)</strong></p>
							</div>
							

						</div>
					</div>
					
			</div>
		</div>
		</div>
	</div>
</footer>