<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <i class="fa-solid fa-location-dot text-white pe-3"></i>
    <span>25 đường số 13 khu dân cư ấp 5 phong phú, Huyện Bình Chánh</span>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> Đăng Nhập / Đăng ký </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"> Giới Thiệu </a></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >
            Cửa hàng
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item text-dark" href="#"> Tài khoản</a></li>
            <li><a class="dropdown-item" href="#"> Thanh toán</a></li>
            <li><a class="dropdown-item" href="#"> Giỏ hàng</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"> Liên hệ </a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="menu-top">
  <div class="container">
    <div class="row">
      <div class="menu-left col-4">
        <img src="../static/images/logo.png" alt="" />
      </div>
      <div class="menu-right col-8 d-flex justify-content-between">
        <div class="menu-info d-flex">
          <i class="fa-solid fa-headphones-simple"></i>
          <p class="text-dark">Gọi ngay <br /><a href="">1-888-345-6789</a></p>
          <div class="bd-right"></div>
        </div>
        <div class="menu-info d-flex">
          <i class="fa-solid fa-clock"></i>
          <p class="text-dark">
            Giờ làm việc<br /><a href="">Mon - Sat: 7.00 - 18:00</a>
          </p>
          <div class="bd-right"></div>
        </div>
        <div class="menu-btn">
          <a href="">Liên hệ ngay</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner">
  <div class="banner-menu">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-6">
          <div class="banner-house d-flex">
            <div class="banner-house-icon">
              <i class="fa-solid fa-house"></i>
            </div>
            <div class="banner-house-text">
              <ul class="d-flex">
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Dịch vụ</a></li>
                <li><a href="">Cửa hàng</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Liên hệ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="banner-icons col-4 d-flex">
          <div class="banner-icon">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-youtube-square"></i>
          </div>
          <div class="col-2 d-flex">
            <div class="banner-shop">
              <i class="fa-solid fa-store"></i>
            </div>
            <div class="banner-search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-content">
    <h2>Nhựa Gia Nguyễn</h2>
    <h3>Sản xuất và Cung cấp các loại chai Pet</h3>
    <p>
      Công ty đã đầu tư trang thiết bị hiện đại bao gồm nhiều máy sấy, máy ép và
      máy thổi thuộc thế hệ mới <br />
      điều khiển bằng kỹ thuật số được nhập khẩu từ: Đức, Nhật, Đài Loan,
      Singapore,…
    </p>
    <div class="banner-content-btn">
      <a href="">Xem thêm</a>
      <a href="">Dịch vụ</a>
    </div>
  </div>
</div>
<div class="products">
  <div class="container">
    <div class="row">
      <div class="product-info col-3">
        <div class="product-genne">
          <div class="product-company">
            <h1>CÔNG TY TNHH</h1>
            <b
              >NHỰA <br />
              GIA NGUYỄN</b
            >
            <div class="btm mt-2"></div>
          </div>
          <div class="product-introduce">
            <p>
              Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
              vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
              trên công nghệ mới nhất.
            </p>
            <a href="">Tất cả dịch vụ</a>
          </div>
        </div>
      </div>
      <div class="product-info col-3">
        <div class="product-img">
          <img src="../static/images/vd1.jpg" alt="" />
          <div class="btm-text">
            <h1>Tầm nhìn & Sứ mệnh</h1>
          </div>
        </div>
        <div class="product-information">
          <p>
            Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
            vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
            trên công nghệ mới nhất.
          </p>
        </div>
      </div>
      <div class="product-info col-3">
        <div class="product-img">
          <img src="../static/images/vd1.jpg" alt="" />
          <div class="btm-text">
            <h1>Triết lý kinh doanh</h1>
          </div>
        </div>
        <div class="product-information">
          <p>
            Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
            vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
            trên công nghệ mới nhất.
          </p>
        </div>
      </div>
      <div class="product-info col-3">
        <div class="product-img">
          <img src="../static/images/vd1.jpg" alt="" />
          <div class="btm-text">
            <h1>Giá trị cốt lõi</h1>
          </div>
        </div>
        <div class="product-information">
          <p>
            Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
            vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
            trên công nghệ mới nhất.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="port"></div>
  <div class="content-menu">
    <button class="content-btn active" data-title="#tatca">Tất cả</button>
    <button class="content-btn text-muted" data-title="#phoi">Phôi</button>
    <button class="content-btn text-muted" data-title="#chai">Chai</button>
    <button class="content-btn text-muted" data-title="#nap">Nắp</button>
  </div>
  <div class="container">
    <div class="row">
      <div class="content-menu-list active" id="tatca">
        {% for a in range(6)%}
        <div class="content-items col-3">
          <div class="image-play">
            <img src="../static/images/vd.jpg" alt="" />
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="content-menu-list" id="phoi">
        {% for a in range(3)%}
        <div class="content-items col-3">
          <div class="image-play">
            <img src="../static/images/vd.jpg" alt="" />
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="content-menu-list" id="chai">
        {% for a in range(7)%}
        <div class="content-items col-3">
          <div class="image-play">
            <img src="../static/images/vd.jpg" alt="" />
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="content-menu-list" id="nap">
        {% for a in range(7)%}
        <div class="content-items col-3">
          <div class="image-play">
            <img src="../static/images/vd.jpg" alt="" />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="tidings">
  <div class="container">
    <div class="row">
      <div class="tidings-news">
        <h1>TIN TỨC NỖI BẬT</h1>
      </div>
      <div class="tidings-info col-3">
        <div class="tidings-img">
          <img src="../static/images/vd1.jpg" alt="" />
          <div class="tidings-information">
            <a href="">Ánh sáng thiết kế nội thất</a>
            <p class="mt-2">08/04//2022</p>
            <p>
              Chúng tôi trao đến quý khách hàng chất xám là những câu chuyện
              được truyền tải.
            </p>
          </div>
          <div class="tiding-color"></div>
        </div>
      </div>
      <div class="tidings-info col-3">
        <div class="tidings-img">
          <img src="../static/images/vd1.jpg" alt="" />
          <div class="tidings-information">
            <a href="">Ánh sáng thiết kế nội thất</a>
            <p class="mt-2">08/04//2022</p>
            <p>
              Chúng tôi trao đến quý khách hàng chất xám là những câu chuyện
              được truyền tải.
            </p>
          </div>
          <div class="tiding-color"></div>
        </div>
      </div>
      <div class="tidings-info col-3">
        <div class="tidings-img">
          <img src="../static/images/vd1.jpg" alt="" />
          <div class="tidings-information">
            <a href="">Ánh sáng thiết kế nội thất</a>
            <p class="mt-2">08/04//2022</p>
            <p>
              Chúng tôi trao đến quý khách hàng chất xám là những câu chuyện
              được truyền tải.
            </p>
          </div>
          <div class="tiding-color"></div>
        </div>
      </div>
      <div class="tidings-info col-3">
        <div class="tidings-img">
          <img src="../static/images/vd1.jpg" alt="" />
          <div class="tidings-information">
            <a href="">Ánh sáng thiết kế nội thất</a>
            <p class="mt-2">08/04//2022</p>
            <p>
              Chúng tôi trao đến quý khách hàng chất xám là những câu chuyện
              được truyền tải.
            </p>
          </div>
          <div class="tiding-color"></div>
        </div>
      </div>
    </div>
  </div>
</div>
