<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <i class="fa-solid fa-location-dot text-white pe-3"></i>
    <span>25 đường số 13 khu dân cư ấp 5 phong phú, Huyện Bình Chánh</span>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> Đăng Nhập / Đăng ký </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"> Giới Thiệu </a></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >
            Cửa hàng
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item text-dark" href="#"> Tài khoản</a></li>
            <li><a class="dropdown-item" href="#"> Thanh toán</a></li>
            <li><a class="dropdown-item" href="#"> Giỏ hàng</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"> Liên hệ </a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="menu-top">
  <div class="container">
    <div class="row">
      <div class="menu-left col-4">
        <img src="../static/images/logo.png" alt="" />
      </div>
      <div class="menu-right col-8 d-flex justify-content-between">
        <div class="menu-info d-flex">
          <i class="fa-solid fa-headphones-simple"></i>
          <p class="text-dark">Gọi ngay <br /><a href="">1-888-345-6789</a></p>
          <div class="bd-right"></div>
        </div>
        <div class="menu-info d-flex">
          <i class="fa-solid fa-clock"></i>
          <p class="text-dark">
            Giờ làm việc<br /><a href="">Mon - Sat: 7.00 - 18:00</a>
          </p>
          <div class="bd-right"></div>
        </div>
        <div class="menu-btn">
          <a href="">Liên hệ ngay</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner">
  <div class="banner-menu">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-6">
          <div class="banner-house d-flex">
            <div class="banner-house-icon">
              <a href="/"><i class="fa-solid fa-house"></i></a>
            </div>
            <div class="banner-house-text">
              <ul class="d-flex">
                <li><a href="/introduce">Giới thiệu</a></li>
                <li><a href="">Dịch vụ</a></li>
                <li><a href="/product">Cửa hàng</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="/contact">Liên hệ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="banner-icons col-4 d-flex">
          <div class="banner-icon">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-youtube-square"></i>
          </div>
          <div class="col-2 d-flex">
            <div class="banner-shop">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="banner-search">
              <i class="fas fa-magnifying-glass"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-content">
    <h2>Nhựa Gia Nguyễn</h2>
    <h3>Sản xuất và Cung cấp các loại chai Pet</h3>
    <p>
      Công ty đã đầu tư trang thiết bị hiện đại bao gồm nhiều máy sấy, máy ép và
      máy thổi thuộc thế hệ mới <br />
      điều khiển bằng kỹ thuật số được nhập khẩu từ: Đức, Nhật, Đài Loan,
      Singapore,…
    </p>
    <div class="banner-content-btn">
      <a href="">Xem thêm</a>
      <a href="">Dịch vụ</a>
    </div>
  </div>
</div>
