{% import "macros/input_macro.html" as in %} {% block content %}
<section>
  <div class="banner-content">
    <h2>Nhựa Gia Nguyễn</h2>
    <h3>Sản xuất và Cung cấp các loại chai Pet</h3>
    <p>
      Công ty đã đầu tư trang thiết bị hiện đại bao gồm nhiều máy sấy, máy ép và
      máy thổi thuộc thế hệ mới <br />
      điều khiển bằng kỹ thuật số được nhập khẩu từ: Đức, Nhật, Đài Loan,
      Singapore,…
    </p>
    <div class="banner-content-btn">
      <a href="">Xem thêm</a>
      <a href="">Dịch vụ</a>
    </div>
  </div>
  <div class="products">
    <div class="container">
      <div class="row">
        <div class="product-info col-3">
          <div class="product-genne">
            <div class="product-company">
              <h1>CÔNG TY TNHH</h1>
              <b
                >NHỰA <br />
                GIA NGUYỄN</b
              >
              <div class="btm mt-2"></div>
            </div>
            <div class="product-introduce">
              <p>
                Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn
                vững vàng với mục tiêu mang lại cho khách hàng những sản nhựa
                sản xuất trên công nghệ mới nhất.
              </p>
              <a href="">Tất cả dịch vụ</a>
            </div>
          </div>
        </div>
        <div class="product-info col-3">
          <div class="product-img">
            <img src="../static/images/chai3-product.jpg" alt="" />
            <div class="btm-text">
              <h1>Tầm nhìn & Sứ mệnh</h1>
            </div>
          </div>
          <div class="product-information">
            <p>
              Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
              vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
              trên công nghệ mới nhất.
            </p>
          </div>
        </div>
        <div class="product-info col-3">
          <div class="product-img">
            <img src="../static/images/vd1.jpg" alt="" />
            <div class="btm-text">
              <h1>Triết lý kinh doanh</h1>
            </div>
          </div>
          <div class="product-information">
            <p>
              Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
              vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
              trên công nghệ mới nhất.
            </p>
          </div>
        </div>
        <div class="product-info col-3">
          <div class="product-img">
            <img src="../static/images/vd1.jpg" alt="" />
            <div class="btm-text">
              <h1>Giá trị cốt lõi</h1>
            </div>
          </div>
          <div class="product-information">
            <p>
              Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
              vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
              trên công nghệ mới nhất.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="port"></div>
    <div class="content-menu">
      <button class="content-btn active" data-title="#tatca">Tất cả</button>
      <button class="content-btn" data-title="#phoi">Phôi</button>
      <button class="content-btn" data-title="#chai">Chai</button>
      <button class="content-btn" data-title="#nap">Nắp</button>
    </div>
    <div class="container">
      <div class="row">
        <div class="content-menu-list active" id="tatca">
          {% for a in range(8)%}
          <div class="content-items col-3">
            <div class="image-play">
              <img src="../static/images/vd.jpg" alt="" />
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="content-menu-list" id="phoi">
          {% for a in range(3)%}
          <div class="content-items col-3">
            <div class="image-play">
              <img src="../static/images/vd.jpg" alt="" />
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="content-menu-list" id="chai">
          {% for a in range(7) %}
          <div class="content-items col-3">
            <div class="image-play">
              <img
                src="{{url_for('static', filename='images/vd.jpg')}}"
                alt=""
              />
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="content-menu-list" id="nap">
          {% for a in range(7)%}
          <div class="content-items col-3">
            <div class="image-play">
              <img src="../static/images/vd.jpg" alt="" />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="tidings">
    <div class="container">
      <div class="row">
        <div class="tidings-news">
          <h1>TIN TỨC NỖI BẬT</h1>
        </div>
        <div class="tidings-info col-3">
          <div class="tidings-img">
            <img src="../static/images/vd1.jpg" alt="" />
            <div class="tidings-information">
              <a href="">Ánh sáng thiết kế nội thất</a>
              <p class="mt-2">08/04//2022</p>
              <p>
                Chúng tôi trao đến quý khách hàng chất xám là những câu chuyện
                được truyền tải.
              </p>
            </div>
            <div class="tiding-color"></div>
          </div>
        </div>
        <div class="tidings-info col-3">
          <div class="tidings-img">
            <img src="../static/images/vd1.jpg" alt="" />
            <div class="tidings-information">
              <a href="">Ánh sáng thiết kế nội thất</a>
              <p class="mt-2">08/04//2022</p>
              <p>
                Chúng tôi trao đến quý khách hàng chất xám là những câu chuyện
                được truyền tải.
              </p>
            </div>
            <div class="tiding-color"></div>
          </div>
        </div>
        <div class="tidings-info col-3">
          <div class="tidings-img">
            <img src="../static/images/vd1.jpg" alt="" />
            <div class="tidings-information">
              <a href="">Ánh sáng thiết kế nội thất</a>
              <p class="mt-2">08/04//2022</p>
              <p>
                Chúng tôi trao đến quý khách hàng chất xám là những câu chuyện
                được truyền tải.
              </p>
            </div>
            <div class="tiding-color"></div>
          </div>
        </div>
        <div class="tidings-info col-3">
          <div class="tidings-img">
            <img src="../static/images/vd1.jpg" alt="" />
            <div class="tidings-information">
              <a href="">Ánh sáng thiết kế nội thất</a>
              <p class="mt-2">08/04//2022</p>
              <p>
                Chúng tôi trao đến quý khách hàng chất xám là những câu chuyện
                được truyền tải.
              </p>
            </div>
            <div class="tiding-color"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-4 text-more">
        <p>Đánh giá khách hàng</p>
      </div>
      <div class="col-8">
        <div class="symbol-customer">
          <a href="#"
            ><img
              src="https://hnk.muatheme.com/wp-content/uploads/2019/04/partner-1.jpg"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="https://hnk.muatheme.com/wp-content/uploads/2019/04/partner-2.jpg"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="https://hnk.muatheme.com/wp-content/uploads/2019/04/partner-3.jpg"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="https://hnk.muatheme.com/wp-content/uploads/2019/04/partner-4.jpg"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
