{% extends 'home/layout/layout.html' %} 
{% block title%} Home {% endblock %} 
{% block body_class %}home{% endblock %} 
{% import "macros/input_macro.html" as in %} 
{% block content %} 
<section>
  <div class="products">
    <div class="container">
      <div class="row">
        <div class="product-info col-3">
          <div class="product-genne">
            <div class="product-company">
              <h1>CÔNG TY TNHH</h1>
              <b
                >NHỰA <br />
                GIA NGUYỄN</b
              >
              <div class="btm mt-2"></div>
            </div>
            <div class="product-introduce">
              <p>
                Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn
                vững vàng với mục tiêu mang lại cho khách hàng những sản nhựa
                sản xuất trên công nghệ mới nhất.
              </p>
              <a href="">Tất cả dịch vụ</a>
            </div>
          </div>
        </div>
        <div class="product-info col-3">
          <div class="product-img">
            <img src="../static/images/sk.jpg" alt="" />
            <div class="btm-text">
              <h1>Sức khỏe</h1>
            </div>
          </div>
          <div class="product-information">
            <p>
              Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
              vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
              trên công nghệ mới nhất.
            </p>
          </div>
        </div>
        <div class="product-info col-3">
          <div class="product-img">
            <img src="../static/images/chai3-product.jpg" alt="" />
            <div class="btm-text">
              <h1>Sản phẩm nhựa</h1>
            </div>
          </div>
          <div class="product-information">
            <p>
              Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
              vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
              trên công nghệ mới nhất.
            </p>
          </div>
        </div>
        <div class="product-info col-3">
          <div class="product-img">
            <img src="../static/images/chai6-product.jpeg" alt="" />
            <div class="btm-text">
              <h1>Thiết kế phôi</h1>
            </div>
          </div>
          <div class="product-information">
            <p>
              Hơn nhiều năm hình thành và phát triển, Nhựa Gia Nguyễn luôn vững
              vàng với mục tiêu mang lại cho khách hàng những sản nhựa sản xuất
              trên công nghệ mới nhất.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="port"></div>
    <div class="content-menu">
      <button class="content-btn active" data-title="#tatca">Tất cả</button>
      <button class="content-btn" data-title="#phoi">Phôi</button>
      <button class="content-btn" data-title="#chai">Chai</button>
      <button class="content-btn" data-title="#nap">Nắp</button>
    </div>
    <div class="container">
      <div class="row">
        <div class="content-menu-list active" id="tatca">
          {% for a in range(8)%}
          <div class="content-items col-3">
            <div class="image-play">
              <img src="../static/images/trasua.jpeg" alt="" />
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="content-menu-list" id="phoi">
          {% for a in range(3)%}
          <div class="content-items col-3">
            <div class="image-play">
              <img src="../static/images/phoi1.jpeg" alt="" />
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="content-menu-list" id="chai">
          {% for a in range(8) %}
          <div class="content-items col-3">
            <div class="image-play">
              <img
                src="{{url_for('static', filename='images/chai2-product.jpeg')}}"
                alt=""
              />
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="content-menu-list" id="nap">
          {% for a in range(7)%}
          <div class="content-items col-3">
            <div class="image-play">
              <img src="../static/images/nap1.jpeg" alt="" />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="tidings">
    <div class="container">
      <div class="row">
        <div class="tidings-news">
          <h1>Tin tức & Sự kiện</h1>
        </div>
        <div class="tiding-newspaper d-flex">
          <div class="tiding-info col-4">
            <div class="tiding-img">
              <img src="../static/images/tp.jpg" alt="" />
            </div>
            <div class="tiding-information">
              <h3>Nhựa đựng thực phẩm loại nào an toàn, loại nào nguy hiểm</h3>
              <p>
                7 loại nhựa đang được lưu hành trên thị trường có thành phần và những đặc tính hóa học khác nhau. 
              </p>
              <a href="">Đọc tiếp </a><i class="fa-solid fa-angles-right"></i>
            </div>
          </div>
          <div class="tiding-info col-4">
            <div class="tiding-img">
              <img src="../static/images/tp.jpg" alt="" />
            </div>
            <div class="tiding-information">
              <h3>Nhựa đựng thực phẩm loại nào an toàn, loại nào nguy hiểm</h3>
              <p>
                7 loại nhựa đang được lưu hành trên thị trường có thành phần và những đặc tính hóa học khác nhau. 
              </p>
              <a href="">Đọc tiếp </a><i class="fa-solid fa-angles-right"></i>
            </div>
          </div>
          <div class="tiding-info col-4">
            <div class="tiding-img">
              <img src="../static/images/tp.jpg" alt="" />
            </div>
            <div class="tiding-information">
              <h3>Nhựa đựng thực phẩm loại nào an toàn, loại nào nguy hiểm</h3>
              <p>
                7 loại nhựa đang được lưu hành trên thị trường có thành phần và những đặc tính hóa học khác nhau. 
              </p>
              <a href="">Đọc tiếp </a><i class="fa-solid fa-angles-right"></i>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-4 text-more">
        <p>Đánh giá khách hàng</p>
      </div>
      <div class="col-8">
        <div class="symbol-customer">
          <a href="#"
            ><img
              src="https://hnk.muatheme.com/wp-content/uploads/2019/04/partner-1.jpg"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="https://hnk.muatheme.com/wp-content/uploads/2019/04/partner-2.jpg"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="https://hnk.muatheme.com/wp-content/uploads/2019/04/partner-3.jpg"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="https://hnk.muatheme.com/wp-content/uploads/2019/04/partner-4.jpg"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="form-inf">
  <div class="container">
    <div class="row">
      <div class="col form-left">
        <div class="introduce">
          <p id="text">Những chiếc chai tinh Túy</p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos
            ducimus perspiciatis eum, consequuntur dignissimos placeat nostrum
            totam. Itaque voluptatum ea laborum? Veniam nihil deleniti pariatur
            blanditiis. Laborum nihil est necessitatibus.
          </p>
        </div>
        <div class="status">
          <a href="#"
            ><img
              src="{{url_for('static', filename='images/place-localizer.png')}}"
              alt=""
            />
            332013</a
          >
          <a href="#" class="ps-3"
            ><img
              src="{{url_for('static', filename='images/heart.png')}}"
              alt=""
            />
            71512988</a
          >
          <a href="#" class="ps-3"
            ><img
              src="{{url_for('static', filename='images/smile.png')}}"
              alt=""
            />
            6101990</a
          >
        </div>
      </div>
      <div class="col form-right">
        <div class="input-form insert-infcustomer">
          <div class="row">
            <div class="col-6 input-inf">
              {{in.input(placeholder="Họ tên")}} 
              {{in.input(placeholder="Địa chỉ")}}
            </div>
            <div class="col-6 input-inf">
              {{in.input(placeholder="Số điện thoại")}}
              {{in.input(placeholder="Email")}}
            </div>
          </div>
        </div>
        <div class="note">
          <!-- {{in.input(placeholder="Nội dung...")}} -->
          <textarea
            class="form-control"
            id="note"
            rows="6"
            cols="70"
            placeholder="Nhập nội dung..."
          ></textarea>
        </div>
        <button class="btn-click btn">
          Gửi
        </button>
        <!-- <label id="submit" style="width: 100px;height: 30px; background: yellowgreen; text-align: center; color: white;font-size: 20px; font-weight: bold;">GỬI</label> -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
