<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact </title>
	<!-- <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
    	
</head>
<body>
	<div class="container">
		<div class="row">
			<h3 class="name">CÔNG TY TNHH NHỰA GIA NGUYỄN</h3>
			<div class="col">
				<ul>
					<li><b>Địa chỉ Trụ Sở Chính:</b> 25 đường số 13 khu dân cư ấp 5 Phong Phú, Huyện Bình Chánh.</li>
					<li><b>Địa chỉ Chi Nhánh:</b> e3/83c1 ấp 5 đường Đa Phước, Xã Đa Phước, Huyện Bình Chánh.</li>
					<li><b>Website:</b> <a href="#">gianguyenplastic.com</a></li>
					<li><b>Email:</b> <a href="">gianguyenplastic@gmail.com</a></li>
					<li><b>Hotline:</b> <a href="">0908 757 528</a> (Mr. Trực)</li>
				</ul>
			</div>
			<div class="col">
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.081542301399!2d106.645800514422!3d10.728194063016588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e6b6a325b81%3A0x21e253199473e889!2zMjUgxJDGsOG7nW5nIHPhu5EgMTMsIEtodSBkw6JuIGPGsCDhuqRwIDUgUGhvbmcgUGjDuiwgQsOsbmggQ2jDoW5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1654932958304!5m2!1svi!2s" width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
		<div class="line-bottom"></div>
		<div class="row">
			<div class="col">
				<div class="form-info" style="padding-top: 20px;">
					<form action="" method="post">
						<h5 style="text-align: left"><b class="name">THÔNG TIN LIÊN HỆ</b></h5>
						<p>Họ tên:</p>
						<input type="text" name="txtName" class="form-input">
						<div class="row">
							<div class="col">
								<p>Điện thoại</p>
								<input type="number" name="txtPhone" class="form-input">
							</div>
							<div class="col">
								<p>Email: </p>
								<input type="text" name="txtEmail" class="form-input">
							</div>
						</div>
						<p>Nội dung liên hệ:</p>
						<input type="text" name="txtMessenger" class="form-input" style="height: 100px">
						<p class="notice">Notice </p>
						<input type="submit" class="btn" value="Gửi">
					</form>
				</div>
			</div>
			<div class="col">
				<h5 style="padding-top: 20px "><b class="name">liên hệ quảng cáo</b></h5>
				<div class="box" style="width:100%;border: 1px solid #ccc;height:470px;border-radius: 5px"></div>
			</div>
		</div>
	</div>




	
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
</body>
</html>